<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Introdução ao Vue JS</title>
    <script src="http://unpkg.com/vue"></script>
</head>
<body>
    
    <div id="app">

        <jon-titulo titulo="Formulários"></jon-titulo>

        <p>Texto: {{texto}} </p>
        <p>
            <input type="text" name="" v-model="texto">
        </p>

        <p>CheckBox: </p>
        <input type="checkbox" id="aceitaTermos" v-model="termos">
        <label for="aceitaTermos">{{termos}}</label>

        <p>Multiple CheckBox: {{notificacoes}}</p>
        <p>
        <input type="checkbox" id="receberEmail" value="email" v-model="notificacoes">
        <label for="receberEmail">Receber E-mail</label>
        <input type="checkbox" id="receberSms" value="sms" v-model="notificacoes">
        <label for="receberSms">Receber SMS</label>
        <input type="checkbox" id="receberLig" value="ligacao" v-model="notificacoes">
        <label for="receberLig">Receber liga.</label>
        </p>


        <p>Radio: Sexo = {{sexo}} </p>
        <p>
            <input type="radio" id="masculino" value="M" v-model="sexo">
            <label for="masculino">Masculino</label>
            <input type="radio" id="feminino" value="F" v-model="sexo">
            <label for="feminino">Feminino</label>
        </p>


        <p>Select = {{ano}} </p>
        <p>
            <select v-model="ano">
                <option disabled value="">Escolha o ano</option>
                <option value="2018"> Ano 2018</option>
                <option value="2019">Ano 2019</option>
                <option value="2020">Ano 2020</option>
            </select>
        </p>


        <p>Muliple Select = {{cores}} </p>
        <p>
            <select multiple v-model="cores">
                <option disabled value="">Escolha as cores</option>
                <option>Amarelo</option> 
                <option>Vermelho</option> 
                <option>Azul</option> 
            </select>
        </p>

        <p>Lazy: {{busca}} </p>
        <p><input type="text" v-model.lazy="busca"></p>

        <p>Number: {{typeof idade}} : {{idade}} </p>
        <p>
            <input type="number"  v-model.number="idade">

        </p>

    </div>


    <script type="text/javascript">

    Vue.component('jon-titulo',{
        props:['titulo'],
        template:'<h2>{{ titulo }}</h2>'

    });

   

        var app = new Vue({
            el:"#app",
            data:{
             texto:'',
             textarea:'',
             termos:false,
             notificacoes:[],//array
             sexo:null,
             ano:2018,
             cores:['Vermelho'],
             busca:'',
             idade:45

            }});
    </script>
</body>
</html>